:root {
  --scrollbar-thumb-color: #ddd;
  --scrollbar-track-color: transparent;
  --body-text-color: #333;
  --note-border-color: #ddd;
  --textarea-focus-background: #f4f4f4;
  --textarea-selection-background: #bbbbbb;
}

*::-webkit-scrollbar {
  width: 1em;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

*::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
}

body {
  margin: 0;
  height: 100svh;
  width: 100svw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--body-text-color);
  font-family: "Roboto Slab";
  box-sizing: border-box;
}

.header {
  font-weight: 400;
  display: flex;
  padding-left: 1em;
  height: 28px;
}

.notebody {
  display: flex;
  flex-direction: row;
  height: calc(100% - 29px);
  width: 100svw;
  justify-content: center;
  box-sizing: border-box;
  border-top: 1px solid var(--note-border-color);
}

.leftSection {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50svw;
  max-width: 300px;
  box-sizing: border-box;
  border-right: 1px solid var(--note-border-color);
}

.rightSection {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

textarea {
  font-family: "Roboto Slab";
  font-weight: 500;
  word-spacing: 0.2em;
  line-height: 1.4em;
  font-size: 14px;
  resize: none;
  border: none;
  color: var(--body-text-color);
  text-decoration-color: var(--body-text-color);
}
textarea:focus {
  outline: none;
  border: none;
  box-shadow: none;
  background: var(--textarea-focus-background);
}

textarea::selection {
  background-color: var(--textarea-selection-background);
}

#completeSection {
  padding: 1em;
  height: 100%;
  transition: background-color 0.25s ease-in-out; /* Transition effect */
}
#searchInputSection {
  height: 50px;
  border-bottom: 1px solid var(--note-border-color);
  padding: 1em;
  padding-top: 1em;
  transition: background-color 0.25s ease-in-out; /* Transition effect */
}
#searchSection {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Slab";
  font-weight: 500;
  word-spacing: 0.2em;
  line-height: 1.4em;
  font-size: 14px;
  color: var(--body-text-color);
  text-decoration-color: var(--body-text-color);
  overflow-y: scroll;
  box-sizing: border-box;
  position: relative;
  transition: background-color 0.25s ease-in-out; /* Transition effect */
}
.thought {
  border-bottom: 1px solid var(--note-border-color);
  padding: 1em;
  position: relative;
}

.thought:hover {
  background: var(--textarea-focus-background);
}

.thought:active {
  background: var(--scrollbar-thumb-color);
}

.apiInputContainer {
  background: #ffffff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid var(--note-border-color);
  border-radius: 5px;
  padding: 1em;
}

.apiInput {
  font-family: "Roboto Slab";
  display: flex;
  flex-direction: column;
  outline: none;
  border: none;
  box-shadow: none;
  margin-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  width: 30svw;
  height: 3svw;
  border: 1px solid var(--note-border-color);
}

.apiInput:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid var(--note-border-color);
}

.apiInput::selection {
  background-color: var(--textarea-selection-background);
}

.distanceIndex {
  position: absolute; /* Absolute positioning relative to parent */
  bottom: 0; /* Align bottom */
  right: 0; /* Align left */
  padding-right: 0.5em; /* Optional, for spacing */
  font-size: 10px;
  display: flex;
}

.thoughtEdit {
  position: absolute; /* Absolute positioning relative to parent */
  top: 0; /* Align bottom */
  right: 0; /* Align left */
  padding-right: 0.5em; /* Optional, for spacing */
  font-size: 10px;
}

.distanceColorBox {
  height: 10px;
  width: 10px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 2px;
}

.animate {
  animation: backgroundFade 2s infinite ease-in-out;
}

@keyframes backgroundFade {
  0% {
    background-color: #f4f4f4;
  }
  50% {
    background-color: #ddd;
  }
  100% {
    background-color: #f4f4f4;
  }
}
