:root {
  --editor: hsl(0, 15%, 84%);
  --search: hsl(0, 12%, 88%);
  --left: hsl(0, 15%, 91%);
  --text: hsl(0, 0%, 7%);
  --highlight: hsl(0, 9%, 76%);
  --active: hsl(0, 9%, 70%);
  --scrollbar-track-color: transparent;
}

*::selection {
  background-color: var(--highlight);
}

*::-webkit-scrollbar {
  width: 0.75em;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

*::-webkit-scrollbar-thumb {
  background: var(--highlight);
}

body {
  margin: 0;
  height: 100svh;
  width: 100svw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--text);
  font-family: "Roboto Slab";
  box-sizing: border-box;
}

.header {
  background-color: var(--search);
  box-sizing: border-box;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  height: 36px;
  width: 100svw;
}

#header {
  display: flex;
  flex-direction: row;
  height: 100%;
  box-sizing: border-box;
  z-index: 1;
}

#rightHeader {
  background-color: var(--editor);
  display: flex;
  align-items: center;
  height: 31px;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

#rightHeader::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.leftHeaderbutton {
  display: flex; /* Enable Flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center;
  transition: background-color 0.25s ease-in-out; /* Transition effect */
  user-select: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.leftHeaderbutton:hover {
  background-color: var(--highlight);
  cursor: pointer;
}

.leftHeaderbutton:active {
  background-color: var(--active);
}

.headerButton {
  display: flex; /* Enable Flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  transition: background-color 0.25s ease-in-out; /* Transition effect */
  user-select: none;
}

.headerButton:hover {
  background-color: var(--highlight);
  cursor: pointer;
}

.headerButton:active {
  background-color: var(--active);
}

.notebody {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

#leftHeader {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 42px;
  border-right: 1px solid var(--left);
  background-color: var(--left);
  z-index: 1;
  position: relatve;
}

#leftSection {
  background-color: var(--search);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 300px;
  box-sizing: border-box;
  border-right: 1px solid var(--left);
  z-index: 1;
}

#rightSectionBody {
  display: flex;
  flex-direction: column;
  height: calc(100% - 31px);
  width: 100%;
  box-sizing: border-box;
  flex-grow: 0;
}

#rightSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

textarea {
  font-family: "Roboto Slab";
  font-weight: 500;
  word-spacing: 0.2em;
  line-height: 1.4em;
  font-size: 14px;
  resize: none;
  border: none;
  background-color: var(--editor);
  color: var(--text);
  text-decoration-color: var(--text);
}

textarea::placeholder {
  color: var(
    --text
  ); /* Replace 'var(--placeholder)' with your desired placeholder text color */
}
textarea:focus {
  outline: none;
  border: none;
  box-shadow: none;
  background: var(--editor);
}

textarea::selection {
  background-color: var(--highlight);
}

.editorContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  size: absolute;
}

#completeSection {
  padding: 1em;
  width: 100%;
  height: 100%;
}

#middleSection {
  z-index: 1;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Slab";
  font-weight: 500;
  word-spacing: 0.2em;
  line-height: 1.4em;
  font-size: 14px;
  color: var(--text);
  text-decoration-color: var(--text);
}
#searchInputSection {
  background-color: var(--search);
  height: 56px;
  border-bottom: 1px solid var(--left);
  padding: 1em;
  padding-top: 1em;
}
#searchSection {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Slab";
  font-weight: 500;
  word-spacing: 0.2em;
  line-height: 1.4em;
  font-size: 14px;
  color: var(--text);
  text-decoration-color: var(--text);
  overflow-y: scroll;
  box-sizing: border-box;
  position: relative;
  transition: background-color 0.25s ease-in-out; /* Transition effect */
}

#contextBuilder {
  background-color: var(--search);
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  flex-shrink: 0;
  border-right: 1px solid var(--left);
}

.animate {
  animation: backgroundFade 2s infinite ease-in-out;
}

@keyframes backgroundFade {
  0% {
    background-color: var(--search);
  }
  50% {
    background-color: var(--editor);
  }
  100% {
    background-color: var(--search);
  }
}

#searchSectionHeader {
  height: 28px;
  border-bottom: 1px solid var(--left);
  display: flex;
  align-items: center;
}
#searchSectionHeader > :last-child {
  margin-left: auto;
}
.searchSectionButton {
  display: flex; /* Enable Flexbox */
  justify-content: center; /* Center horizontally */
  height: 100%;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  transition: background-color 0.25s ease-in-out; /* Transition effect */
  user-select: none;
}

.searchSectionButton:hover {
  background-color: var(--highlight);
  cursor: pointer;
}

.searchSectionButton:active {
  background-color: var(--active);
}

.thought {
  border-bottom: 1px solid var(--left);
  padding-top: 0;
}

.graphThought {
  width: 300px;
  background-color: var(--search);
  font-family: "Roboto Slab";
  font-weight: 500;
  word-spacing: 0.2em;
  line-height: 1.4em;
  font-size: 14px;
  color: var(--text);
  border-radius: 10px;
}

.graphThought p {
  padding-right: 1em;
  padding-left: 1em;
  overflow-wrap: break-word;
  font-size: 14px;
  max-height: 250px;
  overflow-y: scroll;
}

.thought p {
  margin: 1em;
  margin-top: 0.25em;
  overflow-wrap: break-word;
  font-size: 14px;
}

.thoughtHeader {
  display: flex;
  align-items: center;
  padding-left: 1em;
  padding-right: 0.25em;
  padding-top: 0.25em;
  height: 1em;
}

.thoughtButton {
  height: 100%;
  padding: 0.15em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  transition: background-color 0.25s ease-in-out; /* Transition effect */
}

.thoughtButton:hover {
  background-color: var(--highlight);
  cursor: pointer;
}

.thoughtButton:active {
  background-color: var(--active);
}

.distanceIndex {
  padding: 0.15em;
  font-size: 12px;
}

.distanceColorBox {
  height: 16px;
  width: 16px;
  border-radius: 2px;
}

.apiInputContainer {
  background: var(--search);
  height: 100svh;
  width: 100svw;
  position: fixed;
  align-content: center;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.apiInputContainer a {
  color: var(--active);
}

.settings {
  background-color: var(--search);
  height: 400px;
  width: 400px;
  position: absolute;
  size: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--left);
  border-radius: 5px;
  z-index: 2;
}

.settingsBody {
  width: 400px;
  height: 372px;
  overflow-y: auto;
}

.settingsHeader {
  width: 400px;
  height: 28px;
}

.settingsSection {
  border-bottom: 1px solid var(--left);
  padding: 1em;
}

.settingsNode {
  border-bottom: 1px solid var(--left);
  padding: 1em;
}

.settingsNode:hover {
  background-color: var(--highlight);
  cursor: pointer;
}

.settingsHeader {
  display: flex;
  align-items: center;
  height: 28px;
  border-bottom: 1px solid var(--left);
  background-color: var(--left);
}

.settingsHeader > :last-child {
  margin-left: auto;
}

.settingsBack {
  padding-left: 0.3em;
  padding-top: 0.3em;
  cursor: pointer;
}

.settingsLeave {
  padding-right: 0.3em;
  padding-top: 0.3em;
  cursor: pointer;
}

.settingsSectionHeader {
  font-weight: 600;
}

.settingsInfo {
  display: flex;
}

.settingsText {
  font-size: 12px;
  width: 300px;
}

input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 200px; /* Specific width is required for Firefox. */
  background: var(--editor); /* Otherwise white in Chrome */
  border-radius: 1px solid var(--left);
}

input[type="range"]::-webkit-slider-thumb {
  height: 14px;
  width: 14px;
  background: var(--active);
  cursor: pointer;
  -webkit-appearance: none;
}

.settingsButton {
  font-family: "Roboto Slab";
  display: flex;
  flex-direction: column;
  outline: none;
  border: none;
  box-shadow: none;
  border: 1px solid var(--left);
  padding: 7px;
  margin: 7px;
  background-color: var(--editor);
  color: var(--text);
}

.settingsButton:hover {
  background-color: var(--highlight);
}

.settingsButton:active {
  background-color: var(--active);
}

.settingsInput {
  font-family: "Roboto Slab";
  display: flex;
  flex-direction: column;
  outline: none;
  border: none;
  box-shadow: none;
  border: 1px solid var(--left);
  width: 150px;
  background-color: var(--editor);
  color: var(--text);
  flex-grow: 0;
  flex-shrink: 0;
}

.settingsInput:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid var(--left);
}

.settingsInput::selection {
  background-color: var(--highlight);
}

.apiInput {
  font-family: "Roboto Slab";
  display: flex;
  flex-direction: column;
  outline: none;
  border: none;
  box-shadow: none;
  margin-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  width: 30svw;
  height: 3svw;
  border: 1px solid var(--left);
  background-color: var(--editor);
  color: var(--text);
}

.apiInput:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid var(--left);
}

.apiInput::selection {
  background-color: var(--highlight);
}

.editorTab {
  height: 22px;
  width: 22px;
  min-width: 0;
  margin: 2px;
  border-radius: 50%;
  transition: border-radius 0.125s ease-in-out;
  cursor: pointer;
  position: relative;
}

.graphTab {
  height: 19px;
  width: 19px;
  min-width: 0;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
}

.isActiveTab {
  border-radius: 4px;
}
.makeNewTabButton {
  height: 19px;
  width: 19px;
  border-radius: 4px;
  border: 2px dashed var(--text);
  cursor: pointer;
}

#graphSection {
  height: 100%;
  width: 100%;
  background-color: var(--editor);
  overflow: hidden;
}

.drop-area {
  background-color: var(--editor);
  border: 1px solid var(--left);
  padding: 7px;
  margin: 7px;
}
